/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

header {
    height: 70px;
    background-color: orange;
}

.container {
    max-width: ;
}

/* nav */

.navbar {
    width: 70%;
    border: 2px dashed blue;
    height: 100%;
    display: flex;
    margin-left: 15%;
}

.nav-child {
    width: 25%;
    border: 2px dashed blue;
    height: 100%;
}

.nav-child.larger {
    width: 50%;
}