/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* generici */

header {
    height: 70px;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 2px gray;
}

body{
    padding-top: 90px;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-content: flex-start;
}

.card {
    border: 2px dashed yellow;
    width: 32%;
    position: relative;
}

footer {
    background-color: rgb(36, 34, 34);
    height: 70px;
}

a, i {
    text-decoration: none;
    color: white;
}

.target {
    list-style-type: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

h5 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.68);
}

h4 {
    font-size: 14px;
}

.discount {
    color: red;
}

.original {
    text-decoration: line-through;
}

/* nav */

.navbar {
    width: 70%;
    height: 100%;
    display: flex;
    margin-left: 15%;
}

.nav-child {
    width: 25%;
    height: 100%;
}

.nav-child.larger {
    width: 50%;
}

#logo {
    width: 25%;
    display: block;
    margin-left: 215px;
    margin-top: 20px;
}



.flex-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* main */

.size{
    max-width: 100%;
    height: auto;
    display: block;
}

/* footer */

.l-child {
    width: 50%;

}

.r-child{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
}

h3 {
    color: white;
    margin-top: 10px;
}

.flex.target {
    margin-top: 10px;
}

h6 {
    color: white;
}

/* position */

.heart{
    display: inline-block;
    color: black;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
}

.percent {
    display: inline;
    background-color: red;
    position: absolute;
    bottom: 98px;
    left: 0;
}

.echo-friendly {
    background-color: green;
    position: absolute;
    bottom: 98px;
    left: 40px;
    display: inline;
}

.esprit {
    background-color: green;
    position: absolute;
    bottom: 98px;
    left: 0;
}

/* hover */

.left:hover {
    content: url(../img/1b.webp);
} 

.center:hover {
    content: url(../img/2b.webp);
}

.right:hover {
    content: url(../img/3b.webp);
}

.left-b:hover {
    content: url(../img/4b.webp);
}

.center-b:hover{
    content: url(../img/5b.webp);
}

.right-b:hover {
    content: url(../img/6b.webp);
}

.heart:hover{
    content: "\2764";
    color: red;
}