/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

header {
    height: 70px;
    background-color: orange;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    height: 800px;
    background-color: purple;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-content: flex-start;
}

.card {
    height: 390px;
    border: 2px dashed yellow;
    width: 32%;
}

footer {
    background-color: black;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;
}

.category {
    list-style-type: none;
}

/* .flex {
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* nav */

.navbar {
    width: 70%;
    border: 2px dashed blue;
    height: 100%;
    display: flex;
    margin-left: 15%;
}

.nav-child {
    width: 25%;
    border: 2px dashed blue;
    height: 100%;
}

.nav-child.larger {
    width: 50%;
}

#logo {
    width: 25%;
    display: block;
    margin-left: 165px;
    margin-top: 15px;
}

/* footer */


